# docker-compose.yml
version: '3.8'

services:
  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  web:
    build: .
    command: gunicorn --bind 0.0.0.0:5000 app:app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    depends_on:
      - redis

  celery_worker:
    build: .
    # اجرای Celery Worker: پردازش وظایف آسنکرون
    command: celery -A tasks.celery_app worker --loglevel=info -E
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    # اجرای Celery Beat: زمان‌بندی وظایف دوره‌ای (برای /subscribe)
    command: celery -A tasks.celery_app beat --loglevel=info
    depends_on:
      - redis
      - web

  flower:
    build: .
    # اجرای Flower: مانیتورینگ وظایف Celery
    command: celery -A tasks.celery_app flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery_worker
