{% extends "base.html" %}

{% block content %}
    <h2>Книги автора: {{ author_name }}</h2>
    
    {% if not_found %}
        <p class="error">Книги автора "{{ author_name }}" не найдены в базе данных.</p>
    {% elif books %}
        <ul>
            {% for book in books %}
                <li>
                    <a href="{{ url_for('book_details', book_id=book['id']) }}">
                        {{ book['book_name'] }}
                    </a> 
                    (Год: {{ book['publish_year'] }}, ISBN: {{ book['ISBN'] }})
                    <span style="color: blue;">[Просмотров: {{ book['views_count'] }}]</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
