{% extends "base.html" %}

{% block content %}
    <h2>Детали книги: {{ book['book_name'] }}</h2>
    
    <p><strong>Автор:</strong> 
        <a href="{{ url_for('author_books', author_name=book['author']) }}">
            {{ book['author'] }}
        </a>
    </p>
    <p><strong>Год публикации:</strong> {{ book['publish_year'] }}</p>
    <p><strong>ISBN:</strong> {{ book['ISBN'] }}</p>
    
    <p style="font-size: 1.2em; color: green;">
        <strong>Счетчик просмотров:</strong> {{ book['views_count'] }}
    </p>
    
    <p><a href="{{ url_for('books_list') }}">← Вернуться к списку книг</a></p>
{% endblock %}
