{% extends "base.html" %}

{% block content %}
    <h2>Список всех книг</h2>
    
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <a href="{{ url_for('book_details', book_id=book['id']) }}">
                        {{ book['book_name'] }}
                    </a> 
                    — Автор: 
                    <a href="{{ url_for('author_books', author_name=book['author']) }}">
                        {{ book['author'] }}
                    </a>
                    (Год: {{ book['publish_year'] }}, ISBN: {{ book['ISBN'] }})
                    <span style="color: blue;">[Просмотров: {{ book['views_count'] }}]</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В базе данных нет книг. <a href="{{ url_for('add_book_form') }}">Добавьте первую книгу</a>!</p>
    {% endif %}

{% endblock %}
